<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Leather</title>
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="style.css">
</head>
<body background="image/bg1.jpg">
        
    <%- include('base') -%> 
<br><br>
</br>
</br>
    <section class="features" id="features">

        <h1 class="heading"> <span>LEATHER</span> </h1>    
        <div class="box-container">
            <div class="row" ><!--style="padding-left: 12%;padding-right: 10%; padding-top: 7%;">-->
                <div class="card-item" data-id="17">
                     <img src="image/leather1.jpg" alt="">
                     <div class="details">
                <h3>Hand Bag</h3>
                <p>
                <span class="price">Price: Rs.199</span>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                </p>
                <span class="add-to-cart-btn">Add To Cart</span>
               </div>
                    </div>
                </div>
                <div class="card-item" data-id="18">
                    <img src="image/leather2.jpg" alt="">
                    <div class="details">
                    <h3>Belt</h3>
                    <p>
                    <span class="price">Price: Rs.200</span>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    </p>
                    <span class="add-to-cart-btn">Add To Cart</span>
                </div>
                </div>
                <div class="card-item" data-id="19">
                    <img src="image/leather3.jpg" alt="">
                    <div class="details">
                    <h3>Diary</h3>
                    <p>
                    <span class="price">Price: Rs.159</span>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    </p>
                    <span class="add-to-cart-btn">Add To Cart</span>
                </div>
                </div>
                <div class="card-item" data-id="20">
                    <img src="image/leather4.jpg" alt="">
                    <div class="details">
                    <h3>Specs Holder</h3>
                    <p>
                    <span class="price">Price: Rs.150</span>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    </p>
                    <span class="add-to-cart-btn">Add To Cart</span>
                </div>
    
            </div>
    
        </div>
    </div>
       <br></br>
        <div class="box-container">
            <div class="row">
                <div class="card-item" data-id="21">
                     <img src="image/leather5.webp" alt="">
                     <div class="details">
                <h3>Bag</h3>
                <p>
                <span class="price">Price: Rs.399</span>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                </p>
                <span class="add-to-cart-btn">Add To Cart</span>
                    </div>
                </div>
            </div>
                <div class="card-item" data-id="22">
                    <img src="image/leather6.jpg" alt="">
                    <div class="details">
                    <h3>Money Pack</h3>
                    <p>
                        <span class="price">Price: Rs.150</span>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    </p>
                    <span class="add-to-cart-btn">Add To Cart</span>
                </div>
                </div>
                <div class="card-item" data-id="23">
                    <img src="image/leather7.webp" alt="">
                    <div class="details">
                    <h3>Back Pack</h3>
                    <p>
                    <span class="price">Price: Rs.499</span>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    </p>
                    <span class="add-to-cart-btn">Add To Cart</span>
                </div>
                </div>
    
                <div class="card-item" data-id="24">
                    <img src="image/leather8.jpg" alt="">
                    <div class="details">
                    <h3>Pouch</h3>
                    <p>
                    <span class="price">Price: Rs.99</span>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    </p>
                    <span class="add-to-cart-btn">Add To Cart</span>
                </div>
                </div>
            </div>
    
        </div>
    
    
    </section>
    
    
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <script src="script.js"></script>
    </body>
</html>