<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shell</title>
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="style.css">
</head>

<body background="image/bg1.jpg">  
    <%- include('base') -%> 
<br><br>
</br>
</br>
    <section class="features" id="features">

        <h1 class="heading"> <span>SHELL</span> </h1>    
        <div class="box-container">
            <div class="row" ><!--style="padding-left: 12%;padding-right: 10%; padding-top: 7%;">-->
                <div class="box">
                     <img src="image/shell1.jpg" alt="">
                <h3>Seahorse</h3>
                <div class="price">Rs.159/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">add to cart</a>
                    </div>
                </div>
                <div class="box">
                    <img src="image/shell2.jpg" alt="">
                    <h3>Decorative Wreath</h3>
                    <div class="price">Rs.199/-</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="#" class="btn">add to cart</a>
                </div>
    
                <div class="box">
                    <img src="image/shell3.webp" alt="">
                    <h3>Shell Decor</h3>
                    <div class="price">Rs.199/-</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="#" class="btn">add to cart</a>
                </div>
    
                <div class="box">
                    <img src="image/shell4.jpg" alt="">
                    <h3>Shell-Heart</h3>
                    <div class="price">Rs.299/-</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="#" class="btn">add to cart</a>
                </div>
    
            </div>
    
        </div>
       <br></br>
        <div class="box-container">
            <div class="row">
                <div class="box">
                     <img src="image/shell5.jpg" alt="">
                <h3>Mirror</h3>
                <div class="price">Rs.499/-</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">add to cart</a>
                    </div>
                </div>
            
                <div class="box">
                    <img src="image/shell6.jpg" alt="">
                    <h3>Flowers</h3>
                    <div class="price">Rs.299/-</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="#" class="btn">add to cart</a>
                </div>
    
                <div class="box">
                    <img src="image/shell7.jpg" alt="">
                    <h3>Decorative art</h3>
                    <div class="price">Rs.299/-</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="#" class="btn">add to cart</a>
                </div>
    
                <div class="box">
                    <img src="image/shell8.jfif" alt="">
                    <h3>Cute puppies</h3>
                    <div class="price">Rs.199/-</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="#" class="btn">add to cart</a>
                </div>
    
            </div>
    
        </div>
    
    
    </section>
    
    
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <script src="script.js"></script>
    </body>
</html>