<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stone</title>
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="style.css">
</head>
<body background="image/bg1.jpg">
    <%- include('base') -%> 
<br><br>
</br>
</br>
    <section class="features" id="features">

        <h1 class="heading"> <span>STONE</span> </h1>    
        <div class="box-container">
            <div class="row" ><!--style="padding-left: 12%;padding-right: 10%; padding-top: 7%;">-->
                <div class="card-item" data-id="9">
                     <img src="image/stone1.jpeg" alt="">
                     <div class="details">
                <h3>Feet Collection</h3>
                <p>
                <span class="price">Price: Rs.499</span>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                </p>
                <span class="add-to-cart-btn">Add To Cart</span>
                    </div>
                </div>
            </div>
                <div class="card-item" data-id="10">
                    <img src="image/stone2.jpg" alt="">
                    <div class="details">
                    <h3>Light stand</h3>
                    <p>
                    <span class="price">Price: Rs.299</span>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    </p>
                    <span class="add-to-cart-btn">Add To Cart</span>
                </div>
            </div>
                <div class="card-item" data-id="11">
                    <img src="image/stone3.jpg" alt="">
                    <div class="details">
                    <h3>Decor Frame</h3>
                    <p>
                    <span class="price">Price: Rs.200</span>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    </p>
                    <span class="add-to-cart-btn">Add To Cart</span>
                </div>
            </div>
                <div class="card-item" data-id="12">
                    <img src="image/stone4.webp" alt="">
                    <div class="details">
                    <h3>Idol</h3>
                    <p>
                    <span class="price">Price: Rs.299</span>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    </p>
                    <span class="add-to-cart-btn">Add To Cart</span>
                </div>
    
            </div>
        </div>
        </div>
       <br></br>
        <div class="box-container">
            <div class="row">
                <div class="card-item" data-id="13">
                     <img src="image/stone5.jpg" alt="">
                     <div class="details">
                <h3>Lovable Frame</h3>
                <p>
                <span class="price">Price: Rs.299</span>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                </p>
                <span class="add-to-cart-btn">Add To Cart</span>
                    </div>
                </div>
            </div>
                <div class="card-item" data-id="14">
                    <img src="image/stone6.jpg" alt="">
                    <div class="details">
                    <h3>Jar Placer</h3>
                    <p>
                    <span class="price">Price: Rs.149</span>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    </p>

                    <span class="add-to-cart-btn">Add To Cart</span>
                </div>
            </div>
                <div class="card-item" data-id="15">
                    <img src="image/stone7.jpg" alt="">
                    <div class="details">
                    <h3>Owl Frame</h3>
                    <p>
                    <span class="price">Price: Rs.199</span>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    </p>
                    <span class="add-to-cart-btn">Add To Cart</span>
                </div>
            </div>
                <div class="card-item" data-id="16">
                    <img src="image/stone8.jpg" alt="">
                    <div class="details">
                    <h3>Decorative art</h3>
                    <p>
                    <span class="price">Price: Rs.249</span>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    </p>
                    <span class="add-to-cart-btn">Add To Cart</span>
                </div>
                </div>
            </div>
    
        </div>
    
    
    </section>
    
    
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <script src="script.js"></script>
    </body>
</html>